<div class="flex flex_d_c A_c title-refuse title-recipe">
  <h3>Рецепты</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
</div>
<mat-tab-group mat-align-tabs="center" animationDuration="1500ms">
  <mat-tab label="Основные блюда">
    <div class="th-sl">
      <ul class="flex J_sb">
        <li><img src="../../../../assets/home/recipe-tabs/p-1.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-2.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-3.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-4.png" alt=""></li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="Супы">
    <div class="th-sl">
      <ul class="flex J_sb">
        <li><img src="../../../../assets/home/recipe-tabs/p-1.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-2.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-3.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-4.png" alt=""></li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="Салаты">
    <div class="th-sl">
      <ul class="flex J_sb">
        <li><img src="../../../../assets/home/recipe-tabs/p-1.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-2.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-3.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-4.png" alt=""></li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="Закуски">
    <div class="th-sl">
      <ul class="flex J_sb">
        <li><img src="../../../../assets/home/recipe-tabs/p-1.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-2.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-3.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-4.png" alt=""></li>
      </ul>
    </div>
  </mat-tab>
  <mat-tab label="Напитки">
    <div class="th-sl">
      <ul class="flex J_sb">
        <li><img src="../../../../assets/home/recipe-tabs/p-1.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-2.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-3.png" alt=""></li>
        <li><img src="../../../../assets/home/recipe-tabs/p-4.png" alt=""></li>
      </ul>
    </div>
  </mat-tab>
</mat-tab-group>
