<input type="checkbox" id="nav-toggle" hidden>
<aside class="nav">
  <div class="flex toggle J_e">
    <label for="nav-toggle" class="close" onclick>Закрыть</label>
  </div>
  <div class="title-block flex A_c">
    <span class="line-title"></span>
    <span class="title">Авторизация</span>
    <span class="line-title"></span>
  </div>
  <p class="info">Войдите в учетную запись, чтобы ускорить будущие заказы, отслеживать историю заказов.</p>
  <mat-form-field appearance="fill">
    <mat-label>Логин</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Пароль</mat-label>
    <input matInput>
  </mat-form-field>
  <button mat-raised-button class="button">Войти</button>
  <div class="title-block tl-register flex A_c">
    <span class="line-title"></span>
    <span class="title">Еще нет аккаунта</span>
    <span class="line-title"></span>
  </div>
  <p class="info">Создайте учетную запись, чтобы ускорить будущие заказы, отслеживать историю заказов и получать электронные письма, скидки и специальные предложения.</p>
  <button mat-raised-button class="button">Регистрация</button>
</aside>
<div class="mask-content"></div>
